.nav{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px 40px;
}

.nav_link > a{
  display: block;
  font-family: 'Fira Code';
  font-size: 20px;
  font-weight: 500;
  padding: 16px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
  position: relative;
  width: max-content;
}

.nav_link > a.active{
  color: yellow;
}

.nav_link > a:before{
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-out;
}

.nav_link > a:hover{
  color: rgba(255, 255, 255, 0.5);
}

.nav_link > a:hover::before{
  width: 100%;
}